* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}
body { 
  font: 13px Helvetica, Arial; 
}

.user {
  padding: 0 !important;
}
.searchGrupo input, .searchConnected input{
  width: 100% !important;
  margin: 3% 0 3% 3%;   
}

.messages {
  height: 100vh;
  background-color: #c3c7c4;
  outline: 1px solid red;
  padding: 0 !important;
}

.containerMsg { 
  margin: 0 1% 0 1%;
  background-color: #f8f9fa; 
  padding: 0 3% 0 3%; 
  position: fixed; 
  bottom: 0; 
  width: 65%; 
}
.containerMsg input { 
  border: 1px solid #000; 
  border-radius: 10px;
  padding: 10px; 
  width: 90%; 
  margin-right: .5%; 
}
.containerMsg button { 
  width: 9%; 
  background: rgb(130, 224, 255); 
  border: none; 
  padding: 10px; 
}
#messages { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
}
#messages li { 
  padding: 5px 10px; 
}
#messages li:nth-child(odd) { 
  background: #eee; 
}

.userConect {
  margin: 0 !important;
  
}

.titular {
  width: 100%;
  background-color: #f8f9fa;
  overflow: hidden; 
}
.chat {
  display: inline-block;
  float: left;
}
.eventos li {
  display:  inline-block; 
  float: right; 
}
