* { 
  font-family: 13px Helvetica, Arial; 
}

/*#form-avatar {
  background-color: green;
  border-radius: 10px;
  height: 60vh;

}*/

.searchGrupo input, .searchConnected input{
  width: 100% !important;
  margin: 3% 0 3% 3%;   
}

.containerMsg { 
  background-color: #dadada; 
  position: fixed; 
  bottom: 0;
  width: 66.5%; 
  height: 10vh;
  padding: 0.5em;
}

.containerMsg input { 
  border-radius: 0.5em;
  padding: 0.5em; 
  width: 100%; 
  outline: none;
  border: none;
}
.containerMsg button { 
  width: 100%; 
  border: none; 
  padding: 0.5em; 
}
#messages { 
  list-style-type: none; 
  padding: 0;
}

#messages li {
  margin: 2em 0;
  padding: 0.5em; 
  border-radius: 0.5em;
}
#messages li:nth-child(odd) { 
  background: #FEFFFE; 
}

.eventos {
  padding: 1em;
}

.eventos li {
  display:  inline-block; 
}

.eventos li:last-child {
  float: right;
}

#chat {
  height: 90vh;
  overflow: auto;
}

#groups {
  height: 100vh;
}

h3 {
  font-size: 1.6em;
}